:root {
    --accent-color:#2196F3;
    --text-title-color:#212121;
    --text-color:#757575;
    --banner-color:#2F303A;
    --white-color:#FFFFFF;
    --button-colour: #188CE8;
    --border-header: #ECECEC;
    --comandos-color:#F5F4FA;
    --portfolio-box: #EEEEEE;
    --banner-bg-color:#C4C4C4;
    --icon-color:#AFB1B8;
    --bg-color-text:rgba(47, 48, 58, 0.8);
    --bg-color-icon:rgba(255, 255, 255, 0.1);
    --backdrop-color:rgba(0, 0, 0, 0.2);
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --overlay-portfolio:rgba(33, 150, 243, 0.9);
    --primery-font:'Roboto', sans-serif;}

h1, 
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;}

ul,ol {margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;   
}

.list {
        list-style: none;
    }

img {
    display: block;
}

body {
    font-family: var(--primery-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    }

/*------HEADER------*/
/*.page-header { 
padding-top: 32px;
padding-bottom: 32px;
}*/

/*.header {
border-bottom: 1px solid var(--border-header)
}*/

/*.nav-link {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    color: var(--text-title-color);
    transition: color 250ms var(--timing-function) linear;
}*/

/*.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: color 250ms var(--timing-function);
}*/
 
/*.nav-contacts {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
    color: var(--text-color);
    transition: color 250ms var(--timing-function);
    }*/

/*.item-contacts:not(:last-child) {
margin-right: 50px;
line-height: 1.14;
}*/

/*.logo-header {color: black;
padding-top: 24px;
padding-bottom: 24px;}
 

.logo {font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);}*/
    
 /*.nav-link:hover,
 .nav-link:focus, 
 .current
  {color: var(--accent-color);}

.nav-contacts:hover,
.nav-contacts:focus,
.current
  {color:var(--accent-color);}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}*/

/*.site-nav {
    display: flex;
    align-items: center;
    column-gap: 50px;
}*/

/*.contacts-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}*/

/*.logo-head {
    margin-right: 93px;
}*/

/*.icon-mail {
    margin-right: 10px;
    fill: currentColor;
}

.icon-tel {
    margin-right: 10px;
    fill: currentColor;
}*/

/*------BANNER WITH BUTTON------*/
/*.banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--banner-bg-color);
    background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/banner_main.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px;
}

.banner-box {
    width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), 
     url(../images/banner_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--white-color);
}*/

/*.banner-button {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color 250ms var(--timing-function);
}

.banner-button:hover,
.banner-button:focus {
    background-color: var(--button-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}*/

/*------ADVANTAGES------*/
/*.our-advantages {
    padding-top: 94px;
}

.advantages-roster {
display: flex;
gap: 30px;
}

.advantages-backgraund {
    display: flex;
    background-color: var(--comandos-color);
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
}

.icon-advantages {
    width: 70px;
    height: 70px;
}

.advantages-item {
    flex-basis: calc((100% - 90px) / 4);    
}*/

/*.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}*/

/*.advanteges-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--text-title-color);
}

.advanteges-text {
    font-style: normal;
    line-height: 1.71;
    color: var(--text-color);
}*/

/*------ABOUT OUR------*/
/*.our-products {
    padding-top: 94px;
    padding-bottom: 94px;
}

.products-title,
.clients,
.comandos-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-title-color);
}

.products-work {
    display: flex;
    align-items: center;
}

.products-item:not(:last-child) {
    margin-right: 30px;
}

.products-item {
    position: relative;
}

.overlay-all-work {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    background-color: var(--bg-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictures-work {
    display: block;
}

.overlay-all-work-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}*/

/*------ABOUT COMANDOS------*/
/*.our-comandos {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--comandos-color);
}

.comandos-team {
    display: flex;
    align-items: center;
}*/

/*.comandos-list:not(:last-child) {
    margin-right: 30px;    
}

.box-color {
    background-color: var(--white-color);
}

.work-position {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}*/

/*.social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}

.social-list, .social-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-color);
    background-color: var(--white-color);
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social-list-link:hover,
.social-list-link:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-title-color);
}

.name-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}*/

/*------OUR-CLIENT------*/
/*.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.client-icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

.client-link:hover,
.client-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}*/

/*------BUTTON-FILTER-PORTFOLIO------*/
/*.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btn-roster{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio {font-family: 'Roboto',
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    color: var(--text-title-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), border-radius 250ms var(--timing-function);
    
}

.button-portfolio:hover,
.button-portfolio:focus
{background-color: var(--accent-color);
color: var(--white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}

.button-portfolio, 
.hero-button {cursor:pointer;}*/

/*------PORTFOLIO------*/
/*.portfolio-work {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.port-link {
    display: block;
}

.portfolio-block {
    position: relative;
    overflow: hidden;
}

.port-link:hover,
.port-link:focus 
{box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--text-title-color);}

.portfolio-info {
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color);}

.portfolio-box {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-box);    
}

.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-portfolio);
    opacity: 0.9;
    color:var(--white-color);
    padding: 63px 24px;
    overflow:hidden;
    transform: translateY(101%);
    transition: transform 250ms var(--timing-function), backgraund-color 250ms var(--timing-function);
}

.overlay-text {
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
}

.port-link:hover .overlay-portfolio,
.port-link:focus .overlay-portfolio {
    transform: translateY(0%);
}*/

/*------FOOTER------*/
/*.footer-block {
    display: flex;
    align-items: baseline;
}

.contacts-footer {
    margin-right: 70px;
}

.nav-contacts-footer:hover,
.nav-contacts-footer:focus,
.current {
    color: var(--accent-color);
}

.nav-contacts-footer {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    color: var(--text-color);
    transition: color 250ms var(--timing-function);
}

.footer-color {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--banner-color);
}*/

/*.logo-footer {
    color: var(--white-color);
}

.logo-indent {
    margin-bottom: 20px;
    display: block;
}

.adress {
    font-style: normal;
    line-height: 1.71;
    color: var(--white-color);
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-social {
    width: 206px;
    height: 80px;
    margin-right: 93px;
}

.follow {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
    color: var(--white-color);
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bg-color-icon);
    transition: background-color 250ms var(--timing-function);
    }

.social-list-icon-footer {
    fill: var(--white-color);
    width: 20px;
    height: 20px;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--accent-color);
}

.mailing {
    width: 570px;
}

.mailing-text {
    font-family: var(--primery-font);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
}

.mailing-box {
    display: flex;
}

.mailing-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border-radius: 4px;
    padding: 12px;
    background-color: inherit;
    color: var(--white-color);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms var(--timing-function);
}

.mailing-input:focus {
    border-color: var(--white-color);
    outline: none;
}

.mailing-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
}

.icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.mailing-button:hover,
.mailing-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}*/

/*------BACKDROP------*/
/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    padding: 40px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
}

.modal-close-icon {
    transition: fill 250ms var(--timing-function);
}

.modal-close-icon:focus,
.modal-close-icon:hover {
    cursor: pointer;
    fill: var(--accent-color);
}*/

/*------MODAL-WINDOW------*/
/*.modal-title {
    font-family:var(--primery-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--text-title-color)
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-from-input {
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms var(--timing-function);
}

.modal-form-name {
    display: block;
    margin-bottom: 4px;
    font-family: var(--primery-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1,16;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    fill: var(--text-title-color);
    transition: fill 250ms var(--timing-function);
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-from-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-from-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-message {
   width: 100%;
   height: 96px;
   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 12px;
   padding-bottom: 12px;
   resize: none;
   cursor: pointer;
   transition: border-color 250ms var(--timing-function);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
}

.modal-form-own-check {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid var(--text-title-color);
    cursor: pointer;
    margin-right: 7px;
}

.modal-form-own-icon {
    display: none;
    fill: var(--white-color);

}

.modal-check:checked + .modal-form-own-check {
    background-color: var(--accent-color);
    border: solid var(--accent-color);
}

.modal-check:checked + .modal-form-own-check .modal-form-own-icon {
    display: block;
}

.modal-check:focus +.modal-form-own-check {
    box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-check {
    appearance: none;
    position: absolute;
}

.modal-form-check {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.modal-form-send {
    width: 200px;
    height: 50px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color 250ms var(--timing-function);
    }
    
.modal-form-send:hover,
.modal-form-send:focus {
    background-color: var(--button-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}*/
