.advantages {
    padding-top: 94px;
}

.advantages-roster {
    display: flex;
    gap: 30px;
}

.backgraund {
    display: flex;
    background-color: var(--comandos-color);
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
}

.backgraund__icon {
    width: 70px;
    height: 70px;
}

.advantages-roster__item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantages-roster__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--text-title-color);
}

.advantages-roster__text  {
    font-style: normal;
    line-height: 1.71;
    color: var(--text-color);
}