.header {
border-bottom: 1px solid var(--border-header)
}

.contacts-list__iconmail {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-list__icontel {
    margin-right: 10px;
    fill: currentColor;
}